<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Nitor Timesheet Portal{% endblock %} </title>
  <link rel="shortcut icon" type="image/png" href="{%  static 'azure_ad_api/images/MicrosoftTeams-image.png' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'azure_ad_api/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'azure_ad_api/bootstrap-theme.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'azure_ad_api/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'azure_ad_api/ie10-viewport-bug-workaround.css' %}" />
  <!-- <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link src="{% static 'timesheet/static/timesheet/style.css' %}" rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Nitor</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
          <span style="display:inline-block;">
            <img src="{% static 'azure_ad_api/images/Nitor_white_logo_4_150x70.png' %}" alt="Nitor Logo" width="120" height="48" style="position: relative; top: -12px; left: -10px; right: -10px;">
          </span>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="glyphicon" aria-hidden="true"></span>&nbsp; Logged in as:
              {{get_full_name|title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block body %}
  {% endblock %}

</body>

</html>
